{% extends 'base.html' %}
{% block content %}
     <div id="about-section">

    <div id="about-heading" class="text-center">
        <h1>About Andamans</h1>
    </div>

    <!--About Manin Image -->
    <div class="container">
        <div class="row">
            <div id="aaa">
                <img id="main_about" src="images/about/about_1.jpg" style="height: 350px; width: 600px;" alt="about 1">
            </div>
        </div>
        <div class="gallery-div">
            <div class="row-mb-5 thumbs">
                <div class="col-md-2">
                    <a href="images/about/about_2.jpg" data-lightbox="home-images">
                        <img src="images/about/about_2.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="images/about/about_3.jpg" data-lightbox="home-images">
                        <img src="images/about/about_3.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="images/about/about_4.jpg" data-lightbox="home-images">
                        <img src="images/about/about_4.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="images/about/about_5.jpg" data-lightbox="home-images">
                        <img src="images/about/about_5.jpg" alt="" class="img-fluid">
                    </a>
                </div>

            </div>
        </div>
    </div>

    <!--About Main Image ends-->

    <!-- About Content -->

    <div class="about-content">
        <p>
            The Andaman Islands
            are a group of Indian Ocean archipelagic islands in the Bay of Bengal, between the Indian peninsula to the west and Burma to the north and east. Most of the islands are part of the Andaman and Nicobar Islands Union Territory of India, while a small number in the north of the archipelago, such as the Coco Islands, belong to Burma.<br><br>

            The Andaman & Nicobar Islands have a rich insect fauna, most of which like other areas in the tropical region remain unknown. According to the zoological survey of India, 1500 to 2000 species of insects have so far been discovered on these islands. These islands harbors a wide range of insect fauna which includes swallowtails (Lepidopetra: Papilonidae) which are the best studied family of butterflies. Out of the endemic species of swallowtails three have been found in these islands. Andaman and Nicobar islands is ranked 16th out of a total of 51 countries in the world that harbor critical swallowtail faunas. Similarly all of 6 species of wild silkmoth are also known from these islands. Only further studies on all the islands can bring to light numerous other insect populations that lie undiscovered in the forest of these islands. The insects species that are documented in this database are chosen on the basis in the uniqueness, rarity and economic importance.<br><br>

            The name Andaman is presumed to be derived from Hanuman, who was known to the Malays as Handuman. The name Nicobar seems to be a corruption of the South Indian term ‘Nakkavaram’ (Land of the Naked) as indicated in the great Tanjore inscription of AD 1050.<br><br>

            The most widely spoken language on the islands is Bengali followed by Hindi, Tamil, Telugu and Malayalam. Andaman Creole Hindi is also widely used as a trade language in the Andaman islands.<br><br>

            Katchal, a tiny island near Nicobar was virtually unknown till the Royal Greenwich Laboratory declared that it would be the first inhabited place on earth to catch the rays of the first sunrise of the millennium. In the first postal issue of the year 2000, India Post issued a commemorative stamp depicting the first sunrise of the millennium at Katchal.<br><br>

            Andaman and Nicobar Islands have India’s best nesting beaches for three species of marine turtles – Hawksbill, Green turtle and world’s largest sea turtle, the Leatherback (Dermocheleys Coriacea). The nesting population of Leatherback turtles in Nicobar is one of the few colonies that exceeds 1,000 individuals in the Indo-Pacific, and is hence of global importance.<br><br>

            North Sentinel Island is home to one of the most isolated human populations in the world. The Sentinelese, thought to number around 300, have rebuffed all contact with the modern world and fire their arrows at anyone who comes within range. They are thought to have directly descended from the first human populations to emerge from Africa, and have probably lived in the Andaman Islands for up to 60,000 years.<br><br>

            Large, plump marine vegetarians with short, paddle-like front flippers, the gentle Dugongs can be found grazing peacefully on sea grass in the warm coastal waters of the Andaman and Nicobar Island. These languid creatures, also called the ‘angel of the sea’, can be spotted at Ritchie’s archipelago, North Reef, Little Andaman and parts of Nicobar.<br><br>

            Commercial fishing has been banned around the Andaman Islands for more than 4 decades. It is believed that in these waters, fish now die of old age. The turquoise waters surrounding these emerald island teem with an abundance of dolphins, whales, dugongs, sea turtles, sailfish, sea anemones, and other marine life.<br><br>

            Barren Island is the only active volcano not just in India but the whole of South Asia. Located approximately 135 km north east of Port Blair, this small 3-km-wide island contains a 1.6-km-wide crater partially filled by a cinder cone that has been the source of eruptions since the first was recorded in 1787.<br><br>

            Andaman and Nicobar Islands were so remote that they became the dreaded Kala Pani penal colony for Indian freedom fighters under the British. The Cellular Jail was built to disconnect the prisoners from the outer world – the prisoners were kept in solitary cells and made to work for long hours on a hand driven oil extractor made of iron. Today, the jail is open to tourists, and has a light and sound show in evening.<br><br>

            As per available records, the first observed mud volcano explosion was observed in March 1983 in Nilambur Village in Baratang Island. A mud volcano is formed by emission of depressurized pore water and natural gases from decaying organic matter underground, accompanied by loud explosions and fire flares. This gradually forms a miniature volcano with rich, creamy mud crater at the top.<br>
                                             <br>
            India lost strategic land to the 2004 tsunami forever as large stretches of its southernmost tip, the Indira Point, about 120 km from the Indonesian shores, remain underwater years after the mammoth natural disaster. Located at 6o 45′ N latitude, Indira Point was formerly known as the Pygmalion Point.<br><br>

            There are two beautiful waterfalls on the Little Andaman island – the White Surf waterfall which is 6.5 km from Hut Bay Jetty and the Whisper Wave, which is 20 km from the same. One can take an elephant safari or trek through the verdant forests of the island to reach the pristine waterfalls.<br><br>

            The location of the Andaman and Nicobar Islands straddles one of the most critical naval and trade choke points in the world. The Andaman and Nicobar Command is India’s first and only joint tri-service command, with rotating three-star commanders-in-chief from the Army, Navy and Air Force reporting directly to the chairman of the Chiefs of Staff Committee.It also the focal point for Indian engagement with regional navies in Southeast Asia.<br><br>

            Historically, Rajendra Chola I of the Tamil Chola dynasty too had conquered the Andaman and Nicobar Islands to use them as a strategic naval base to launch a naval expedition against the Srivijaya Empire of Indonesia. The islands had also provided a temporary maritime base for ships of the Maratha Empire under Admiral Kanhoji Angre in the 17th century.


        </p>
    </div>

    </div>
{% endblock %}