{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="island_heading" class="text-center">
        <h1>{{ tribe.name }}</h1>
    </div>

    <!--Island Gallery Image -->

    <div class="container">
        <div class="row">
            <div id="main-img-holder">
                <img id="main_about" src="{{ tribe.photo_main.url }}" style="height: 350px; width: 600px;" alt="about 1">
            </div>
        </div>
        <div class="gallery-div">
            <div class="row-mb-5 thumbs">
                <div class="col-md-2">
                    <a href="{{ tribe.photo_1.url }}" data-lightbox="home-images">
                        <img src="{{ tribe.photo_1.url }}" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="{{ tribe.photo_2.url }}" data-lightbox="home-images">
                        <img src="{{ tribe.photo_2.url }}" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="{{ tribe.photo_3.url }}" data-lightbox="home-images">
                        <img src="{{ tribe.photo_3.url }}" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="{{ tribe.photo_4.url }}" data-lightbox="home-images">
                        <img src="{{ tribe.photo_4.url }}" alt="" class="img-fluid">
                    </a>
                </div>

            </div>
        </div>
    </div>

    <!--Island GAllery Image ends-->

    <!-- Iskand Template Content -->

    <div class="container">
    <div class="island-spec-details">
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="il-details"> Name: {{ tribe.name }}</div>
            </div>
            <div class="col-md-4 text-center">
                <div class="il-details"> Population: {{ tribe.population }}</div>
            </div>
            <div class="col-md-4 text center">
                <div class="il-details"> Region: {{ tribe.region }}</div>
            </div>
            <div class="col-md-4 text-center">
                <div class="il-details"> Language: {{ tribe.language }}</div>
            </div>
            <div class="col-md-4 text-center">
                <div class="il-details"> Religion: {{ tribe.religion }}</div>
            </div>
            <div class="col-md-4 text-center">
                <div class="il-details"> Existence: {{ tribe.existence }} years ago</div>
            </div>
        </div>

            <div class="island-content">
                <p id="il-content-id">{{ tribe.description }}</p>
            </div>
        </div>
    </div>
{% endblock %}